html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: Montserrat;
	margin: 0;
}

h1 {
	margin: 0;
}

.second__bag-dsk,
.third-count,
.head__desctop,
.second__quantity,
.second__other,
.second__vector,
.third__img-dsk {
	display: none;
}

.header {
	background-color: #fff;
}

.header__inner {
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__inner-logo-link {
	margin-left: 26px;
}

.header__inner-menu-btn {
	width: 70px;
  height: 70px;
  background-color: #ededed;
  border: none;
  position: relative;
}

.header__inner-menu-btn::after {
  content: '';
  position: absolute;
  width: 26.4px;
  height: 2.61px;
  background-color: #000;
  top: 29.66px;
  left: 21.49px;
  box-shadow: 0 7.08px;
}

.head {
	background: url(img/bg-head.png) no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 522px;
}

.head__img-title {
  font-size: 50px;
  line-height: 1;
  padding-left: 26px;
  padding-top: 365px;
  letter-spacing: 1px;
}

.head__img-vector {
  display: block;
  margin: 23px auto;
}

.second {
	min-width: 320px;
  height: 601px;
  background: #fae8e4;
}

.second__bag {
  display: block;
  margin: 0 auto;
  height: 230px;
  width: 218px;
  padding-top: 50px;
  margin-bottom: 39px;
}

.second__box {
	width: 320px;
  height: 281px;
  background: #fff;
  margin: 0 auto;
}

.second__container {
	width: 254px;
	height: 226px;
  margin: 0 auto;
}

.second__title {
	font-size: 20px;
  line-height: 1;
  padding-top: 18px;
  letter-spacing: .7px;
  margin-bottom: 4px;
}

.second__subtitle {
	font-size: 10px;
  line-height: 1;
  letter-spacing: 1px;
  opacity: .5;
  margin-top: 0;
  margin-bottom: 14px;
}

.second__text {
	font-size: 9px;
  line-height: 1.44;
  opacity: .5;
  margin-bottom: 23px;
}

.second__block-color {
	display: flex;
}

.second__block-color-gray,
.second__block-color-pink,
.second__block-color-blue,
.second__block-color-green {
	width: 23px;
	height: 23px;
	border-radius: 50%;
}

.second__block-color-gray {
	background-color: #dedede;
}

.second__block-color-pink {
	background-color: #f29f9f;
	margin-left: 9.14px;
}

.second__block-color-blue {
	background-color: #a8bff9;
  margin-left: 9.14px;
}

.second__block-color-green {
  background-color: #90bd8f;
  margin-left: 9.14px;
}

.second__block-coust {
	font-size: 20px;
	font-weight: 900;
	margin: 0;
}

.second__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 42px;
}

.second__add {
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  padding: 10px 48px;
  border: 1px solid #000;
  margin-left: 31px;
}

.third {
  min-width: 320px;
  height: 597px;
  background-color: #ebe3d8;
  position: relative;
}

.third__line {
  width: 41px;
  height: 597px;
  background: #000;
  margin-left: 100px;
}

.third__img {
	position: absolute;
  min-width: 320px;
  right: 12px;
  left: 12px;
  top: 34px;
}

.third__img>div {
  background: url(img/third-img.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 262px;
}

.third__block {
  width: 305px;
  height: 195px;
  background: #fae8e4;
  top: 274px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.third__container {
	width: 256px;
	height: 115px;
	margin: 0 auto;
}

.third__title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: .4px;
  margin-top: 24px;
}

.third__subtitle {
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.07em;
  opacity: .5;
  margin-top: 7px;
  margin-bottom: 11px;
}

.third__text {
	font-size: 9px;
	line-height: 1.44;
	opacity: .5;
}

.third__add {
	font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  color: #000;
  padding: 10px 48px;
  border: 1px solid #000;
  margin-left: 23px;
}

.third__next{
	font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  position: absolute;
  width: 147px;
  top: 507px;
  right: 40px;
}

@media (min-width: 460px) {
	.head {
		min-height: 700px;
	}

	.head__img-title {
    font-size: 65px;
    padding-top: 509px;
  }
}

@media (min-width: 560px) {
	.head {
		min-height: 890px;
	}

	.head__img-title {
    font-size: 85px;
    padding-top: 652px;
  }
}

@media (min-width: 825px) {
	.head__img-title {
    font-size: 99px;
    padding-top: 602px;
  }
}

@media (min-width: 957px) {
	.header__inner-logo-mob,
	.head__mobile,
	.second__bag,
	.third__img {
    display: none;
	}

	.header {
	  background-color: none;
    width: 100%;
  }

  .header__inner {
    position: absolute;
    width: 100%;
    height: 94px;
  }

  .header__inner-logo {
    margin-top: 17px;
    margin-left: 29px;
  }

  .header__inner-menu-btn {
	  width: 92px;
    height: 92px;
    position: relative;
  }

  .header__inner-menu-btn::after {
    content: '';
    position: absolute;
    width: 34.7px;
    height: 3.48px;
    background-color: #000;
    top: 39.54px;
    left: 28.25px;
    box-shadow: 0 9.44px;
  }

  .head__desctop {
    display: block;
  }

  .first {
    min-width: 957px;
    display: grid;
    grid-template-columns: 32% 68%;
    grid-template-rows: 900px;
  }

  .first__sidebar {
    grid-column: 1;
    background: black;
  }

  .first__sidebar-social {
    display: flex;
    justify-content: space-between;
    width: 155px;
    padding: 816px 51px 0;
  }

  .first__sidebar-social-vk,
  .first__sidebar-social-fb {
    margin-left: 12px;
  }

  .first__collection {
	  background: #fff;
  }

  .step {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 439px 439px;
    grid-template-rows: 454px;
    justify-content: center;
    top: 168px;
    z-index: 2;
    grid-column-gap: 54px;
  }

  .img__img {
    height: 450px;
  }

  .text {
    height: 450px;
  }

  .text__container {
    padding: 80px 0;
  }

  .text__title {
    font-size: 60px;
    line-height: 68px;
    letter-spacing: 4px;
    width: 439px;
  }

  .text__subtitle {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.1px;
    margin-bottom: 40px;
  }

.collection__next-text {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-size: 13px;
  border: 1px solid black;
  padding: 10px 23px;
  margin-right: 31px;
}

.collection__other-text {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 13px;
  letter-spacing: 0;
  margin-right: 14px;
}

.collection__scroll {
  width: 27px;
  height: 46px;
  margin-left: 25%;
  margin-top: 815px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 15px;
}

.collection__scroll-elem {
  width: 2.45px;
  height: 8.21px;
  margin-left: 50%;
  margin-top: 8px;
  background: #000;
}

  .second {
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: 501px 397px;
    grid-template-rows: 593px;
    grid-column-gap: 42px;
    padding-top: 172px;
    justify-content: center;
  }

  .second__bag-dsk {
    display: block;
    margin-top: 56px;
    width: 500px;
  }

  .second__box {
    width: 393px;
    height: 446px;
  }

  .second__title {
  	font-size: 32px;
  	line-height: 1;
  	padding-top: 10px;
  	margin-bottom: 13px;
  }

  .second__container {
  	width: 306px;
  	height: 348px;
  }

  .second__subtitle {
    font-size: 13px;
    margin-bottom: 46px;
  }

  .second__text {
  	font-size: 12px;
  	margin-bottom: 32px;
  }

  .second__block-color-gray,
  .second__block-color-pink,
  .second__block-color-blue,
  .second__block-color-green {
  	width: 24px;
    height: 24px;
  }

  .second__block-color-pink {
	  margin-left: 11.82px;
  }

  .second__block-color-blue {
    margin-left: 11.82px;
  }

  .second__block-color-green {
    margin-left: 11.82px;
  }

  .second__block-coust {
  	font-size: 34px;
  	margin-right: 20px;
  }

  .second__quantity {
  	text-decoration: none;
    color: #000;
    display: block;
    font-size: 15px;
    border: 1.5px solid #000;
    padding: 7px 25px;
    margin-right: 9px;
    margin-left: 44px;
  }
  
  .second__add {
  	margin-left: 0;
  	border: 1.5px solid #000;
  	padding: 11px 45px;
  	font-size: 10px;
  }

  .second__btn {
  	display: flex;
  }

  .second__other {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 102px;
    display: inline-block;
  }

  .second__vector {
  	display: inline-block;
  }
  
  .third {
  	width: 100%;
    height: 900px;
  }

  .third__line {
  	width: 73px;
    height: 900px;
    margin-left: 354px;
  }

  .third__img-dsk {
  	position: absolute;
    top: 139px;
    left: 53px;
    z-index: 5;
    display: block;
  }

  .third__block {
  	z-index: 10;
  	width: 475px;
    height: 351px;
    top: 255px;
    margin-right: 183px;
  }

  .third__container {
    width: 380px;
    height: 224px;
  }

  .third__title {
    font-size: 40px;
    margin-top: 39px;
  }

  .third__subtitle {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 33px;
  }

  .third__text {
  	font-size: 15px;
  }

  .third-count {
  	display: inline-block;
  	text-decoration: none;
    color: #000;
    font-size: 15px;
    border: 1.5px solid #000;
    padding: 12px 32px;
    margin-left: 47px;
  }

  .third__add {
  	border: 1.5px solid #000;
  	padding: 12px 43px;
  	margin-left: 17px;
  }

  .third__next {
    font-size: 13px;
    margin-top: 149px;
    display: inline-block;
    margin-right: 137px;
    width: 372px;
    z-index: 15;
  }
}

@media (min-width: 1124px) {
  .second {
     grid-template-columns: 601px 397px;
  }

  .second__bag-dsk {
     width: 600px;
  }
}

@media (min-width: 1280px) {
  .step {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 549px 549px;
    grid-template-rows: 600px;
    justify-content: center;
    top: 168px;
    z-index: 2;
    grid-column-gap: 54px;
}

  .img__img {
    height: 562px;
  }

  .text {
    height: 600px;
  }

  .text__container {
    padding-top: 103px;
    letter-spacing: 2px;
  }

  .text__title {
    width: 549px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
    margin-bottom: 0;
  }

  .text__subtitle {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: .5px;
    margin-bottom: 74px;
  }

  .collection__next-text {
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size: 13px;
    border: 1px solid black;
    padding: 10px 23px;
    margin-right: 52px;
  }

  .collection__other-text {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 13px;
    letter-spacing: 0;
    margin-right: 14px;
  }

  .second {
    height: 900px;
    min-width: 1200px;
    display: grid;
    grid-template-columns: 730px 488px;
    grid-template-rows: 593px;
    grid-column-gap: 42px;
    padding-top: 172px;
    justify-content: center;
  }

  .second__bag-dsk {
    display: block;
    margin-top: 56px;
  }

  .second__box {
  	width: 488px;
  	height: 556px;
  }

  .second__title {
  	font-size: 40px;
  	line-height: 1;
  	padding-top: 15px;
  	margin-bottom: 13px;
  }

  .second__container {
  	width: 377px;
  	height: 444px;
  }

  .second__subtitle {
    font-size: 16px;
    margin-bottom: 62px;
  }

  .second__text {
  	font-size: 15px;
  	margin-bottom: 43px;
  }

  .second__block-color-gray,
  .second__block-color-pink,
  .second__block-color-blue,
  .second__block-color-green {
  	width: 30px;
    height: 30px;
  }

  .second__block-color-pink {
	  margin-left: 11.82px;
  }

  .second__block-color-blue {
    margin-left: 11.82px;
  }

  .second__block-color-green {
    margin-left: 11.82px;
  }

  .second__block-coust {
  	font-size: 40px;
  	margin-right: 20px;
  }

  .second__quantity {
  	text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 15px;
    border: 1.5px solid #000;
    padding: 11px 35px;
    margin-right: 9px;
    margin-left: 53px;
  }
  
  .second__add {
  	margin-left: 0;
  	border: 1.5px solid #000;
  	padding: 11px 45px;
  }

  .second__other {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    text-decoration: none;
    color: #000;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 102px;
    display: inline-block;
  }
}